body {
  padding-top: 50px;
  color: #EFEFF1;
  background-color: #0E0E10;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
  background-color: #18181B;
  border-bottom: 2px solid #000;
}

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

/* Button */

.btn {        
  font-size: 15px;
  font-weight: bold;
}

.btn-player{
  width: 33%;
}

/* Grid */

.wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background: #2f3542;
  width: 300px;
  padding: 10px !important;
  margin: 5px;
}

/* Player */

.play{
  background-color: #27ae60;
}

.sample-title{
  padding-bottom: 8px;
  font-size: medium;
}

/* Table */

a:hover{
  color: #fff !important;
  background-color: #2f3542 !important;
}

.table-hover tr:hover{
  color: #fff !important;
  background-color: #2f3542 !important;
}

.form-control{
  color: #fff !important;
  background-color: #18181B !important;
}

/* SWAL2 Dark theme */

.swal2-popup{
  color: #fff !important;
  background: #2f3542 !important;
}

.swal2-popup .swal2-title{
  color: #fff !important;
}